
/* IMAGE SLIDE */

.imgslide .inner {
    overflow: hidden;
    height: 300px;
}

.imgslide .inner > a > img {
    width: 100%;
    height: 100%;
    position: absolute;
}

.imgslide_arrow {
    position: absolute;
    top: 124px;
    width: 35px;
    height: 35px;
    border-radius: 35px;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}


.imgslide_arrow:hover a {
    color : #fff;
}

.imgslide_left {
    left: 1.25%;
}

.imgslide_left a {
    margin-left: -5px;
}

.imgslide_right {
    right:1.25%;
}

.imgslide_right a {
    margin-right: -5px;
}

.imgslide_arrow a {
    font-size: 2.188em;
    color: #90ab75;
}

/* EVENT */
.event .inner{
    height: 100px;
    display: flex;
    align-items: center;
}   

.event img {
    height: 60%;
    width: 60%;
    margin: 0 10% 0 10%;
}
.event a {
    display: block;
    height: 40px;
    width: 155px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    background-color: #bad3aa;
    margin: 0 5% 0 0;
}

.event a span {
    align-items: center;
    font-size: 1em;
    font-weight: 700;
    color: #fff;
}

/* TIME SALE */

.time_sale  {
    background-color: rgb(255, 251, 246);
}

.time_sale .inner {
    display: flex;
    padding: 20px 0;
}

.time_sale .inner .sale_info {
    width: 240px;
    margin: 40px 0 50px 3%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-right: 1px solid #eee;
}

.sale_info .material-icons.decor{
    position: absolute;
    top: -24px;
    right: 61px;
}

.sale_info .decor {
    color: gold;
}

.sale_info p {
    font-size: 2.5em;
    font-weight: 700;
}

.sale_info .material-icons.time {
    font-size: 9em;
    color: #995002;
    opacity: .3;
    text-align: center;
}

.sale_info em {
    font-weight: 700;
    width: 80%;
    font-size: 1.12em;
    text-align: center;
    z-index: 1;
}

.time_sale .inner .sale_items {
    display: flex;
    align-items: center;
    width : 80%;
}

.sale_items .sale_item {
    width : 31%;
    margin:0 3% 0;
    position : relative;
}

.sale_items .sale_item a {
    position: relative;
    display: block;
    text-align: center;
    width: 100%;
    margin: 20px 0;
}

.sale_items .sale_item a .img-box {
    width: 200px;
    height: 200px;
    border-radius: 200px;
    overflow: hidden;
    right: 0;
    left: 0;
    margin:0 auto;
}

.sale_items .sale_item a img {
    width: 100%;
    height: 100%;
    transition: .5s;
}

.sale_items .sale_item a:hover img {
    transform: scale(1.1);
}

.sale_items .sale_item a:hover p {
    text-decoration: underline;
}

.sale_items .sale_item a p {
    font-size: 1rem;
    margin: 20px auto 10px;
}
.sale_items .sale_item  span {
    font-size: .9rem;
    font-weight: 700;
}

.sale_items .sale_item .before_discount {
    color : #666;
    text-decoration: line-through;
    margin-right: 10px;
}
.sale_items .sale_item .price {
    font-size: 1.125rem;
}


/* MD'S PICK */
.mdspick {
    width: 100%;
}


.mdspick .inner .mdspick_items {
    margin: 10px auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 95%;
}

.mdspick_items a.mdspick_item {
    width : 23%;
    text-align: center;
    margin: 10px 0;
}

.mdspick_items .mdspick_item img {
    width: 100%;
}

.mdspick_items a.mdspick_item:hover img {
    opacity: .8;
}

.mdspick_items .mdspick_item p {
    font-size: 1rem;
    font-weight: 700;
    margin: 8px 0 0;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.mdspick_items a.mdspick_item:hover p {
    text-decoration: underline;
}

.mdspick_items .mdspick_item span {
    font-size: 1.1rem;
    display: block;
    margin-top:4px;
}

.mdspick .inner .mdspick_title {
    text-align: center;
    display: flex;
    justify-content: space-between;
    position: relative;
    padding : 60px 0 10px;
    border-bottom: 1px solid #90ab75;
}

.mdspick .inner .mdspick_title p {
    position: relative;
    font-size: 2rem;
    font-weight: 700;
    width: 100%;
    margin: 0 2.5% 0;
    padding: 10px;
}

.mdspick_title p .material-icons {
    font-size: 1.8rem;
    color: #90ab75;
    transform: rotate(-20deg);
    position: absolute;
    top: -8px;
    left: 50%;
    margin-left: -100px;
}

.mdspick .inner .mdspick_title a.more {
    font-size: .8rem;
    display: flex;
    align-items: center;
    font-weight: 700;
    margin-right: 2.5%;
    right: 0;
    bottom: 0;
    position: absolute;
    padding: 10px 3px;
}

.mdspick_title a.more .material-icons {
    color: #444;
    font-size: .8rem;
}


/* PROMOTION */

.promotions .inner > div {
    display: flex;
    justify-content: space-between;
    width: 94%;
    padding: 30px 0;
    margin: 0 3% 0 3%;
}

.promotions .inner div .promotion {
    width: 47%;
    height: 340px;
    position: relative;
    overflow: hidden;
    border-radius: 20px;
}


.promotion img{
    width: 100%;
    height: 100%;
    transition: .3s;
}

.promotion:hover img {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    opacity: .85;
}

.promotion .promotion_text{
    width: 100%;
    height: 40%;
    position: absolute;
    bottom: 0;
    background-color: rgba(238, 238, 238, 0.651);
    border-radius: 130px 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 3%;
}

.promotion_text p {
    font-size: 1.6rem;
    font-weight: 700;
    text-align: center;
    padding-bottom: 2%;
}

.promotion_text span{
    font-size: 1.3rem;
    font-weight: 700;
    color: #995002;
    text-align: right;
    width: 70%;
}


@media screen {
    
}
