
/* IMAGE-SLIDE */

.imgslide .inner {
    overflow: hidden;
    height: 300px;
}

.imgslide .inner > a > img {
    width: 100%;
    height: 100%;
    position: absolute;
}

.imgslide_arrow {
    position: absolute;
    top: 124px;
    width: 35px;
    height: 35px;
    border: 2px solid #eeeeee;
    border-radius: 35px;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.imgslide_arrow:hover {
    background-color: #bad3aa;
    border-color: #bad3aa;
}

.imgslide_arrow:hover a {
    color : #fff;
}

.imgslide_left {
    left: 1.25%;
}

.imgslide_left a {
    margin-left: -5px;
}

.imgslide_right {
    right:1.25%;
}

.imgslide_right a {
    margin-right: -5px;
}

.imgslide_arrow a {
    font-size: 2.188em;
    color: #90ab75;
}

/* EVENT */

.event .inner{
    height: 100px;
}

.event img {
    width: 100%;
    height: 100%;
}


.contents {
    width: 1200px;
    height: 1750px;
}



.product {
    width: 1200px;
    height: 950px;
    
}

.timesale {
    float: left;
    width: 599px;
    height: 950px;
    border-right: 1px solid #bad3aa;
}

.mdspick {
    float: right;
    width: 597px;
    height: 950px;
}


#timesale_title, #mdspick_title {
    margin:11px 0 9px 20px;
}

.timesale1, .timesale2 {
    height: 455px;
    width: 100%;
}

.timesale1 img, .timesale2 img {
    width: 335px;
    height: 415px;
    border: 5px solid #f6d6d6;
    margin-top: 15px;
}

#time {
    line-height: 2em;
    color: #90ab75;
    font-size: 25px
}


#name {
    font-size: 20px;
}

#coment {
    font-size: 18px;
}

#before_price {
    text-decoration:line-through;
    font-style: italic;
}

#sale_price {
    font-size: 18px;
    color: #995002;
}

.timesale1_text, .timesale2_text {
    height: 100px;
    width: 229px;
    text-align: right;
    float: left;
    margin-top: 300px;
}

.timesale1_img, .timesale2_img {
    float: right;
    height: 100%;
    width: 370px;
    text-align: center;
}

.mdspick_img {
    width: 584px;
    height: 910px;
    margin-left: 11px;
}

.mdspick_img > div{
    text-align: center;
    width: 190px;
    display: inline-block;
    margin-bottom: 5px;
    margin-top: 5px;
}

.mdspick_img > div:hover{
    opacity: 0.8;
}

#product_name {
    font-size: 14px;
}

#price {
    font-size: 15px;
    color: #995002;
}

.mdspick_img img {
    width: 180px;
    height: 180px;
}

.banner_b {
    width: 1200px;
    height: 400px;
}

.imgs_b_main{
    width: 585px;
    height: 360px;
    margin-left: 5px;
    margin-top: 20px;
    float: left;
    position: relative;
    overflow: hidden;
}

.imgs_b_sub {
    margin-top: 20px;
    margin-right:5px;
    width: 585px;
    height: 360px;
    float: right;
    position: relative;
    overflow: hidden;
}

#b_mainimg, #b_subimg {
    width: 100%;
    height: 100%;
}

#b_mainimg, #b_subimg {
    width: 100%;
    height: 100%;
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transition: all 0.3s ease-in-out;
}

#b_mainimg:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}

#b_subimg:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}

.imgs_b_main div, .imgs_b_sub div {
    position: absolute;
    width: 100%;
    height: 130px;
    top: 230px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 100px 0 0 0;
}

#text1 {
    font-size: 24px;
    font-family:"dream";
    display: inline-block;
    margin-top: 45px;
    margin-left: 100px;
}

#percent1 {
    font-family:"garosu";
    color: #995002;
    font-size: 30px;
    display: inline-block;
    margin-top: -5px;
    margin-left: 425px;
}

#text2 {
    font-size: 24px;
    font-family:"dream";
    display: inline-block;
    margin-top: 45px;
    margin-left: 100px;
}

#percent2 {
    font-family:"garosu";
    color: #995002;
    font-size: 30px;
    display: inline-block;
    margin-top: -5px;
    margin-left: 475px;
}


